:root {
    --primary-dark: #3c28d0;
    --primary-light: #4d3ae3;
    --secondary-dark: #0b0d1b;
    --secondary-light: #4a4c5e;
}

.take-note {
    z-index: 1;
    background: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border: 1px solid #dedede;
    border-radius: 10px;
    padding: 0.9rem;
    box-shadow: 0 0.1rem 0.4rem #aaa;
    margin: auto;
}

.take-note #input-title {
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    color: var(--secondary-light);
    border: none;
    outline: none;
    background: none;
}

.take-note #input-body {
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--secondary-light);
    border: none;
    outline: none;
    margin: 1rem 0;
    height: 130px;
    overflow: hidden;
    background: none;
}

.take-note button {
    width: 70px;
    padding: 10px;
    font-size: 1rem;
    border: var(--secondary-light) solid 1px;
    border-radius: 10px;
    background-color: var(--secondary-light);
    color: white;
}

.take-note button:hover {
    border: var(--secondary-dark) solid 1px;
    background-color: var(--secondary-dark) ;
}

.take-note .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: var(--secondary-light);
}

.take-note .close-btn:hover {
    color: var(--secondary-dark);
}

@media screen and (max-width:700px) {
    .take-note {
        width: 90%;
    }
}