:root {
    --primary-dark: #3c28d0;
    --primary-light: #4d3ae3;
    --secondary-dark: #0b0d1b;
    --secondary-light: #4a4c5e;
}

.take-note-wrapper {
    position: absolute;
    top: 150px;
    display: flex;
    justify-content: center;
}

.take-note {
    z-index: 2;
    background: white;
    position: relative;
    width: 400px;
    border-radius: 10px;
    padding: 0.9rem;
    box-shadow: 0 0 0.7rem  #ccc;
}

.take-note button {
    width: 70px;
    padding: 10px;
    font-size: 1rem;
    border: var(--secondary-light) solid 1px;
    border-radius: 10px;
    background-color: var(--secondary-light);
    color: white;
}

.take-note button:hover {
    border: var(--secondary-dark) solid 1px;
    background-color: var(--secondary-dark) ;
}

.take-note .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    color: var(--secondary-light);
}

.take-note .close-btn:hover {
    color: var(--secondary-dark);
}

@media screen and (max-width:800px) {
    .take-note {
        width: 90%;
    }
}