:root {
    --primary-dark: #3c28d0;
    --primary-light: #4d3ae3;
    --secondary-dark: #0b0d1b;
    --secondary-light: #4a4c5e;
}

.btn-palette {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: var(--secondary-light);
}

.btn-palette :hover {
    color: var(--secondary-dark);
}

.color-pad {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    pointer-events: none;
    border: 3px var(--secondary-light) solid;
    transition-duration: 0.3s;
    z-index: 1;
    opacity: 0;
}

.color-open-1 {
    transform: translateX(-40px) translateY(30px);
    transition-delay: 0s;
    opacity: 1;
    pointer-events: all;
}

.color-open-2 {
    transform: translateX(-47px) translateY(-3px);
    transition-delay: 0.03s;
    opacity: 1;
    pointer-events: all;
}

.color-open-3 {
    transform: translateX(-36px) translateY(-36px);
    transition-delay: 0.06s;
    opacity: 1;
    pointer-events: all;
}

.color-open-4 {
    transform: translateX(-3px) translateY(-47px);
    transition-delay: 0.09s;
    opacity: 1;
    pointer-events: all;
}

.color-open-5 {
    transform: translateX(30px) translateY(-40px);
    transition-delay: 0.12s;
    opacity: 1;
    pointer-events: all;
}
