:root {
    --primary-dark: #3c28d0;
    --primary-light: #4d3ae3;
    --secondary-dark: #0b0d1b;
    --secondary-light: #4a4c5e;
}

.btn-share {
    position: absolute;
    top: 0.5rem;
    right: 2.2rem;
    color: var(--secondary-light);
}

.btn-share :hover {
    color: var(--secondary-dark);
}

.share-panel {
    position: absolute;
    right: 2.6rem;
    top: 1.3rem;
    z-index: 10;
    background: #ffffff;
    border-radius: 8px 0px 8px 8px;
    border: 1px solid #dedede;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.2);
    animation: share-panel-pop-out 100ms ease-out forwards;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.share-panel input {
    border: none;
    outline: none;
    font-size: medium;
    padding: 0.2rem;
    border-bottom: 1px solid #4a4c5e;
    animation: share-panel-input-pop-out 100ms ease-out forwards;
    width: fit-content;
}

.share-panel-user {
    z-index: 10;
    border-radius: 2px;
    padding: 0.5rem;
    background: #ffffff;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-top: 0.2rem;
    cursor: pointer;
    border-bottom: #0b0d1b 1px dotted;
}

.share-panel-user:hover {
    border-radius: 10px;
    background:#eee
}

.profile-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin: 0.2rem 0.5rem 0.2rem 0rem;
    pointer-events: none;
}

.share-panel-user h5 {
    text-decoration: underline;
}

.share-note-plane {
    z-index: 10;
    position: absolute;
    right: 6rem;
    top: 0.6rem;
    opacity: 0;
}

.share-note-plane-fly {
    animation: fly 600ms ease-in;
}

@keyframes fly {
    0% {
        right: 6rem;
        top: 0.6rem;
        opacity: 0;
    }

    1% {
        opacity: 1;
    }

    100% {
        right: -0.5rem;
        top: -6rem;
        opacity: 0;
    } 
}

@keyframes share-panel-pop-out {
    from {
        width: 0;
    }
    to {
        width: 12rem;
    }
}

@keyframes share-panel-input-pop-out {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
