
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav {
    height: 100px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.search-bar {
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    outline: none;
}

.nav .logo {
    flex: 1;
    margin-left: 5rem;
}

.nav .nav-list {
    margin: 0rem 5rem;
    font-size: 1.5rem;
    display: flex;
    list-style: none;
}

.nav a {
    text-decoration: none;
    margin-right: 2rem;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    color: white;
}


.take-note {
    display: flex;
    flex-direction: column;

    border: 1px solid #dedede;
    min-width: 300px;
    border-radius: 10px;
    padding: 0.9rem;
    box-shadow: 0 0.1rem 0.4rem  #aaa;
    margin: 1rem;
}

.take-note #input-title {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    border: none;
    outline: none;
}

.take-note #input-body {
    font-size: 1rem;
    font-weight: 400;
    color: #555;
    border: none;
    outline: none;
    margin: 1rem 0;
}

.take-note button {
    width: 70px;
    padding: 10px;
    font-size: 1rem;
    border: #333 solid 1px;
    border-radius: 10px;
    background-color: #333;
    color: white;
}


.take-note button:hover {
    border: #222 solid 1px;
    background-color: #222 ;
}

.note-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* border: dotted red 1px; */
}

.note-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;

    /* border: dotted red 1px; */
}

.note-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0.5rem;

    /* border: dotted red 1px; */
}

.note {    
    border: 1px solid #dedede;
    width: var(--note-width);
    height: fit-content;
    border-radius: 10px;
    margin: 0.5rem 0;
    padding: 1rem 1rem 2.3rem 1rem;
}

.note:hover {
    box-shadow: 0 0 0.7rem  #ccc;
    transition-duration: 0.1s;
}

.note .title {
    font-weight: 600;
    margin: 0 0 0.8rem 0;
    pointer-events: none;
}

.note .body {
    pointer-events: none;
}
